@import "tailwindcss";
@config "../../tailwind.config.js";

/* Global Dark Background */
html,
body {
  min-height: 100vh;
  background-color: #020617;
  background-image: radial-gradient(
    circle 500px at 50% 200px,
    #3e3e3e,
    transparent
  );
  background-attachment: fixed;
  color: #ebe6e7;
}
